/* LEVELS PAGE */
.levels-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url('../assets/PlainBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.levels-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /* background-color: var(--light-green); */
    font-family: 'Pixelify Sans', sans-serif;
    /* color: var(--dark-green); */
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #FFF;
}

.levels-btn { /* level 1, 2, 3 */
    width: max-content;
    height: auto;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 32px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0.5px solid var(--dark-green);
    /* color: var(--dark-green); */
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
    background: transparent;
    transition: background 0.3s, color 0.3s;
}

.levels-btn:hover {
    background: var(--dark-green);
    color: #FFF;
}

.levels-dialogue {
    height: auto;
    width: 700px;
    display: flex;
    align-items: center;
}

/* PER LEVEL */
.level-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
    background-color: var(--light-green);
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--dark-green);
    align-items: center;
}

.level-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.level-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--dark-green);
}

.level-title {
    font-size: 32px;
    margin: 0;
}

.level-prompt {
    font-size: 24px;
    margin: 0;
}

/* dragging block */
.active-block {
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background: #FFF;
    cursor: grab;
    font-family: 'monospace';
}

/* LEFT */
.available-blocks {
    grid-area: available-blocks;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 15px auto;
    width: 100%;
}

/* dragabble blocks sitting on left */
.block {
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
    cursor: grab;
    font-family: 'monospace';
}

.block:hover {
    background: lightgray;
}

/* RIGHT */
.snippet-zone {
    grid-area: snippet-zone;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    height: max-content;
    width: max-content;
}

.problem-slot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: max-content;
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
    cursor: grab;
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--dark-green);
}

.level-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "available-blocks snippet-zone"
        "available-blocks level-btns"
        "available-blocks terminal"
        "available-blocks level-feedback";
    margin: 0;
    padding: 0;
    width: 100%;
}

.level-feedback {
    grid-area: level-feedback;
    margin: 10px;
}

.level-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    grid-area: level-btns;
    padding: 10px;
}

.level-btns button, .level-feedback button {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0.5px solid var(--dark-green);
    color: var(--dark-green);
    margin-top: 10px;
    width: auto;
    cursor: pointer;
    background: transparent;
    transition: background 0.3s, color 0.3s;
}

.level-btns button:hover, .level-feedback button:hover {
    background: var(--dark-green);
    color: #FFF;
}

.terminal {
    grid-area: terminal;
    width: 500px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
    cursor: grab;
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--dark-green);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.level-btn {
    background-image: url('../assets/Button.png');
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 90px;
    border-radius:18px;
    font-size:32px;
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    color:antiquewhite;
}