.snippet-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 2px dashed gray;
    border-radius: 8px;
    font-family: 'monospace';
}
        

.slot {
    width: 80px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
    font-family: 'monospace';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}
      
.block {
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
    cursor: grab;
    font-family: 'monospace';
}

.available-blocks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 16px;
    width: fit-content;
    text-align: center;
   
}


.active-block {
    padding: 6px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    background: white;
    cursor: grab;
    font-family: 'monospace';
}