.slot-container {
    background-image: url(../assets/LevelBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:780px;
    gap: 10px;
}

.slot {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}