.background-image-container {
  background-image: url('../assets/Grass.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:780px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}